
<h1>Listing Posts</h1>

<section class="row">
  <div class="large-12 columns">
    <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
      <% if admin_signed_in? %>
        <th>User</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <% if post.body.length > 0 %>
            <a href="#" data-open="body-<%= post.id %>">Ver mas...</a>
            <div id="body-<%= post.id %>" class="reveal" data-reveal>
              <%= post.body %>
              <button class="close-button" data-close aria-label="cerrar" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= User.find(post.user_id).email %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</section>
