<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <%= render 'posts/navigation' %>
        <% if notice %>
          <p class="success callout"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert callout"><%= alert %></p>
        <% end %>

        <%= yield %>

    </body>
</html>
